/*@font-face {*/
/*    font-family: 'GmarketSansMedium';*/
/*    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*}*/

@font-face {
    font-family: 'GabiaGosran-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2409-2@1.0/GabiaGosran-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html > body {
    font-family: 'GabiaGosran-Regular', sans-serif !important;
    text-underline-position: under;
    color: #444;
}